---
import HeroCTA from "./HeroCTA.astro";
import HeroTitle from "./HeroTitle.astro";
---

<section class="w-full bg-white py-24 text-center">
  <div class="container mx-auto px-4">
    <HeroTitle />
    <div class="mt-10">
      <HeroCTA />
    </div>
  </div>
</section>
