---
import "../styles/global.css";
import { useTranslations } from "@/i18n/utils";
import GoogleAnalytics from "@/lib/GoogleAnalytics.astro";

const isProd = import.meta.env.PROD;
const lang = Astro.currentLocale || "en";
const t = useTranslations(lang as "en" | "ja");
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ub-moji/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('site.title')}</title>
		{isProd && <GoogleAnalytics />}
	</head>
	<body>
		<slot />
	</body>
</html>
