---
import "../styles/global.css";
import GoogleAnalytics from "@/lib/GoogleAnalytics.astro";
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ub-moji/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ub-MOJI | AI Vision Lab</title>
		{isProd && <GoogleAnalytics />}
	</head>
	<body>
		<slot />
	</body>
</html>
